## This file uses GNU Makefile and shell syntax because it is included by the
## `Makefile`.

## [Required to change]
##
## Edit the following to point to a directory for the persistent database data.
## Either use absolute paths or relative paths that begin with `./` or `../`.
##
## Used in `docker-compose.yml`.
export DOCKER_POSTGRES_DATA_DIR=/path/to/persistent/postgres/data

## PGHOST, PGPORT, PGUSER, PGPASSWORD are all used by libpq.
## They are supported by: psql, RPostgres, DuckDB.
export PGHOST=127.0.0.1

## This is set per database being connected to. So it does not need to be set
## in the `.env` file.
#export PGDATABASE=

## [Optional to change]
##
## The external port for the PostgreSQL server used by Docker.
##
## Used in `docker-compose.yml`.
export PGPORT=5432

export PGUSER=postgres

## [Optional to change]
##
## Edit the following to change the password used in Docker.
##
## Used in `docker-compose.yml`.
export PGPASSWORD=password

## vim: ft=sh
